@font-face {
    font-family: 'Gilroy-bold';
    src: url(../fonts/Gilroy-Bold.woff);
    font-style: normal; 
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url(../fonts/Gilroy-ExtraBold.woff);
    font-style: normal; 
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../fonts/Gilroy-Medium.woff);
    font-style: normal; 
    font-weight: 500;
}